.app {
    display: flex;
}

.form {
    flex: 3 0 0;
    padding: 10px 20px;
    background-color: rgba(55, 100, 125, 0.5);
}

.field {
    display: flex;
}

.field > label {
    max-width:30%;
    flex: 1 0 0;
}

.field > input {
    max-width: 40%;
    flex: 2 0 0;
    align-self: flex-end;
}


.list {
    flex: 1 0 0;
    padding: 10px 20px;
}

.list > ul {
    list-style: none;
    padding: 0;
}

.checkbox-group {
    display: block;
}